In [ ]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [ ]:
data=pd.read_excel('이글스타격.xlsx', encoding='cp949')

In [ ]:
data.reset_index(inplace=True)

In [ ]:
data.drop('Unnamed: 23',axis=1,inplace=True) #불필요컬럼 삭제

In [ ]:
data.rename(columns={'연도':'년도'},inplace=True)  #컬럼이름바꾸기

In [ ]:
#2개 이상 조건을 만족, 정렬
data. query("년도==2019 and 타석 >= 200").sort_values(by=['타율','타석'],ascending=[False,False])

In [ ]:
#위와 같은 효과
cond1=data['년도']== 2019
cond2=data['타석']>= 200

data[cond1 & cond2]

In [ ]:
#최근3년간 평균안타수 산출
d1=pd.DataFrame(data.query("년도==2019 | 년도==2018 | 년도==2017").groupby('선수명')['안타'].agg('mean')).sort_values(by='안타',ascending=False)

In [ ]:
d2=data[['년도','선수명','안타','홈런','타율']]  #필요항목만 추출

In [ ]:
d3=d2[d2.선수명.isin(d1.head(10).index)]  #상위 10명의 3년간 기록

In [ ]:
d3.set_index(['선수명', '년도']).unstack('년도').fillna('-') #상위10명의 기록 연도블 최하위 컬럼으로하고, null은 -로

In [ ]:
data.groupby('년도')['안타','도루','홈런'].agg('sum')   #팀의 3년간 총 안타,도루,홈런

In [ ]:
d3=data[data.타율=='-'][['년도','선수명','타율']]  #타율 오류값
data.loc[d3.index, '타율']='0'       #0으로 강제세팅

In [ ]:
data['타율']=data['타율'].replace('-','0') #위 타율값 클렌징은 1줄로 대체가능
#data['타율'].replace('-','0')

In [ ]:
data.타율=pd.to_numeric(data.타율) #타율을 숫자로

In [ ]:
data2=data.groupby('년도')['안타', '홈런', '도루', '타수'].agg(['sum', 'mean'])

In [ ]:
data2['타율']= data2.안타['sum'] / data2.타수['sum'] #타율 산출  -컬럼추가는 [컬럼] 방식으로 해야함

In [ ]:
평균타석=pd.DataFrame(data.groupby('선수명')['타석'].agg('mean'))  #평균타석 100이상 추출
타석100이상=평균타석[평균타석.타석>=100]

In [ ]:
삼진율=data.groupby('선수명')['삼진','타수'].agg('sum')  #삼진비율 추출
삼진율['삼진율']=삼진율.삼진/삼진율.타수

In [ ]:
삼진율[삼진율.index.isin(타석100이상.index)].sort_values(by='삼진율').head(3)  #100타석이상 중 삼진비율 낮은 3명

In [ ]:
sum(data['선수명'].str.contains('최재훈'))

In [ ]:
data.query('선수명 in ["최재훈","정근우"] and 팀명=="한화"')

In [ ]:
data.groupby('선수명').agg({'타석':'mean','안타':'sum'})

In [ ]:
data.head()

In [ ]:
pd.date_range(start = "2019-01-01", end = "2019-01-14")

In [ ]:
data.reset_index(inplace=True)

In [ ]:
df

In [ ]:
df.pivot(columns='년도',values='타율')

In [ ]:
from datetime import datetime , date, time

In [ ]:
dt = datetime(2011, 10, 29, 20, 30, 21)

In [ ]:
pip install -U pandas -profiling

In [ ]:
import pandas_profiling

In [ ]:
df.profile_report()

In [ ]:
df.count()

In [ ]:
df.index.set_names('순번',inplace=True)

In [ ]:
df

In [ ]:
df.unstack()

In [ ]:
df.sort_values(by=['년도','타율'],ascending=False,axis=0)

In [ ]:
df.groupby(by=['년도','선수명'])['타석','안타'].agg(['sum','mean'])
#df.groupby(by=['년도','선수명']).agg({'타석':'sum','안타':'mean'})

In [ ]:
df.pivot_table(index=['년도','선수명'],values=['타석','안타'],aggfunc=(['sum','mean','max']))