In [ ]:
import pandas as pd

ym = '202212'
dir0=f'd:/글로벌백업(180329)/04.수수료작업/{ym}수수료/'

fileN = f'{ym}_수입원장.xlsx'
print('reading ',fileN)
df = pd.read_excel(dir0+fileN,sheet_name='전체')
df_sum = df.groupby(['지점','계약종류'])['수수료계'].sum().reset_index()

In [ ]:
import os
import re

file_list = os.listdir(dir0)
# print(file_list)
file_list2= [ s for s in file_list if "마감실적리스트" in s]
dfAll = pd.DataFrame()

for fname in file_list2: 
    bojong = ''.join(re.findall('\(([^)]+)',  fname))
    print(bojong,' ', fname)
    df1 = pd.read_excel(dir0+fname)
    dfT = df1.groupby(['지점'])[['수수료H','수수료S']].sum().reset_index()
    dfT['계약종류'] = bojong
    dfAll=pd.concat([dfAll,dfT])

In [ ]:
dfAll

In [42]:
df_sum

          지점 계약종류      수수료계
0        글래드   생보   2264383
1        글래드  자동차    169074
2        글래드   장기  21256097
3      글래드가온   생보  10007611
4      글래드가온  자동차   3565614
5      글래드가온   장기  75565642
6      글래드경기   생보    959995
7      글래드경기  자동차   1213927
8      글래드경기   장기    823346
9      글래드라온   일반      2314
10     글래드라온   장기   3728354
11     글래드방이   생보      1500
12     글래드방이  자동차   5172433
13     글래드방이   장기    529307
14     글래드상동   생보  65290201
15     글래드상동   일반     28999
16     글래드상동  자동차  10580018
17     글래드상동   장기  89852784
18     글래드성공   생보   3807687
19     글래드성공  자동차     -6640
20     글래드성공   장기  25702298
21     글래드송내   생보   2778824
22     글래드송내   일반     18329
23     글래드송내  자동차   1325202
24     글래드송내   장기  36510852
25   글래드아이리치   생보     17507
26   글래드아이리치   장기   3591453
27     글래드여주   생보   2602174
28     글래드여주  자동차   1503665
29     글래드여주   장기  13351179
30    글래드의정부   생보   3671734
31    글래드의정부   일반    375537
32    글래드의정부  자동차   3738407
33    글래드의정부   장기  51605428
34     글래드인천   생보   9476195
35     글래드인천  자동차    -97648
36     글래드인천   장기  25742477
37  글래드제이엔제이   생보    700633
38  글래드제이엔제이   장기    167131
39     글래드조은   생보   8706869
40     글래드조은   일반     50574
41     글래드조은  자동차   3100024
42     글래드조은   장기  23520904
43    글래드프라임   생보    900658
44    글래드프라임   일반     27481
45    글래드프라임  자동차    134735
46    글래드프라임   장기    593841
47   글래드피스토스   생보   6344183
48   글래드피스토스   일반     18297
49   글래드피스토스  자동차   3693925
50   글래드피스토스   장기  72365352
51    엠피인스모아   생보         0
52    엠피인스모아   장기      3692